@import "../omarchy/current/theme/waybar.css";

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'Fantasque Sans Mono';
  font-size: 12px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#cpu,
#battery,
#pulseaudio,
#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}

#tray {
  margin-right: 16px;
}

#bluetooth {
  margin-right: 17px;
}

#network {
  margin-right: 13px;
}

#custom-expand-icon {
  margin-right: 18px;
}

tooltip {
  padding: 2px;
  font-family: 'Fantasque Sans Mono', monospace;
  font-size: 12px;
}

#custom-calendar tooltip {
  font-family: 'Fantasque Sans Mono', monospace;
  font-size: 12px;
  padding: 8px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-left: 8.75px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 5px;
  font-size: 10px;
  padding-bottom: 1px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

#custom-voxtype {
  min-width: 12px;
  margin: 0 0 0 7.5px;
}

#custom-voxtype.recording {
  color: #a55555;
}

#custom-spotify {
    margin-left: 10px;
    padding: 0 10px;
    color: #1DB954; /* Verde Spotify */
}

#cava {
    color: #94e2d5; /* Tom turquesa do Omarchy */
    background: rgba(0, 0, 0, 0.2);
    border-radius: 0 8px 8px 0; /* Arredonda só o lado direito para colar no player */
    padding: 0 10px;
    margin-left: 5px; /* "Cola" o visualizador no módulo do player */
    font-family: "Symbols Nerd Font";
    font-size: 16px;
    min-width: 200px; /* Garante que ele tenha um tamanho fixo 'comprido' */
}

#custom-media {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 8px 0 0 8px; /* Arredonda só o lado esquerdo */
    padding: 0 10px;
    margin-right: 0;
}
